{% extends 'base.html' %}

{% block title %}About- My Portfolio{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <h1 class="name">BASSANE <span>B. O. Joseph</span></h1>
        <p class="title">Dévéloppeur-Designer</p>
        <div class="contact-info">
            <p><a href="nanocreator07@gmail.Com">nanocreator07@gmail.Com</a></p>
            <p>+228 92 60 28 49</p>
            <p>Lomé, TOGO</p>
        </div>
    </header>

    <section class="profile">
        <h2>Profile</h2>
        <p>Graphic Designer, UX-UI Designer, FullStack Dev...</p>
    </section>

    <section class="experience">
        <h2>Experience</h2>
        <div class="job">
            <h3>Company Name</h3>
            <p>Job Title | 2034 - Present</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
        </div>
        <div class="job">
            <h3>Company Name</h3>
            <p>Job Title | 2032 - 2034</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
        </div>
        <div class="job">
            <h3>Company Name</h3>
            <p>Job Title | 2030 - 2032</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
        </div>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>Graphic Design</li>
            <li>UI/UX Design</li>
            <li>Web Design</li>
            <li>Content Development</li>
            <li>Copywriting</li>
            <li>Corporate Blogging</li>
            <li>Project Management</li>
            <li>Market Research</li>
        </ul>
    </section>

    <section class="education">
        <h2>Education</h2>
        <div class="degree">
            <h3>Degree Title</h3>
            <p>University | 2030-34</p>
            <p>Major Subject</p>
        </div>
        <div class="degree">
            <h3>Degree Title</h3>
            <p>University | 2028-30</p>
            <p>Major Subject</p>
        </div>
        <div class="degree">
            <h3>Degree Title</h3>
            <p>University | 2026-28</p>
            <p>Major Subject</p>
        </div>
    </section>
</div>
{% endblock %}