
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
    font-family: 'Ubuntu', regular, Serif;
    font-style: normal;
}



body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    background-color: #fff;

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

a{
    text-decoration: none;
    list-style : none;
}

.navbar .logos .logo {
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.hamburger-menu {
    position: relative;
}

.hamburger-button {
    /*position: absolute;*/
    /*top: 1rem;*/
    /*left: 1rem;*/
    /*z-index: 1;*/
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: #000;
    transition: transform 0.3s ease;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: #000;
    transition: transform 0.8s ease;
}

.hamburger-icon::before {
    transform: translateY(-0.5rem);
}

.hamburger-icon::after {
    transform: translateY(0.5rem);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100vh;
    background-color: #666666;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateY(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sidebar li {
    padding: 1rem;
    color: #fff;
}

.sidebar li a {
    color: #fff;
    font-size: 2vw;
}



.foot {
    height: 20rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 120rem;
    padding-left: max(1.5rem, min(6.73139vw - .0776699rem, 8rem));
    padding-right: max(1.5rem, min(6.73139vw - .0776699rem, 8rem));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
}

.foot-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    align-items: center;
}

.foot-nav-menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;

}

.newsletter{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.email_submit{
    font-size: 1.4vw;
    background-color: #A5E65A;
    padding: 0.6em;
    border: none;
    border-radius: 10px;
}

.newsletter_label{
    font-size: 2vw;
    margin-bottom: 1em;
    color: #454444;
}

.email-letter{
    border-bottom: 2px solid #000;
    border-right: 0px solid #000;
    border-left: 0px solid #000;
    border-top: 0px solid #000;
    font-size: 1.5em;
    padding: 0.3em;
}

.footer__label {
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #454444;
    color: #454444;
    margin-left: 0.7em;
    margin-bottom: 0.4em;
}

.footer__nav > ul{
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.copyright{
    width: 99dvw;
    border-top: 1px solid #666666;
    padding-top: 10px;
    margin-top: -2em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}